.recipe-item {
  display: flex;
overflow: hidden;
  &__img {
    min-width: 10rem;
    max-width: 10rem;
  }

  &__description {
    text-overflow: ellipsis;
  }
}

.shopping-form {

  &__inputs {
    margin-bottom: 1.5rem;
  }

  &__button {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
}
