<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="rounded">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Recipe Name</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">To shopping list</a></li>
        <li><a href="#"></a>Edit</li>
        <li><a href="#"></a>Delete</li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Desct
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
