<a
  class="list-group-item recipe-item"
  [routerLink]="[index]"
  routerLinkActive="active" >
  <span class="d-flex align-items-lg-center my-3">
    <span class="d-flex flex-column mx-2">
      <h4 class="list-group-item-heading ">{{recipe.title}}</h4>
      <p class="list-group-item-text recipe-item__description">{{recipe.description}}</p>
    </span>
    <img
      [src]="recipe.imagePath"
      alt="{{recipe.title}}img"
      class="img rounded-2 recipe-item__img"
      style="max-height: 100px; order: -1">
  </span>
</a>
